.container {
  padding-bottom: 20px;
  .header {
    background-color: #8fc62a;
    color: white;
    h1 {
      padding: 15px 0 0 10px;
    }
    
  }

  .table-titles {
    font-weight: bold;
    padding-bottom: 5px;
  }

  .content {
    padding-left: 20px;
  }

}