.container {
  mat-card {
    overflow: auto;
    min-height: 90%;
    min-width: 95%;
    .toolbar {
      border-bottom: 2px solid #8fc62a;
      padding: 0 10px 10px 0;

      .title {
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
      }
      a:hover,button:hover {
        background-color: #8fc62a;
        color: white;
      }
    }

    mat-card-content {
      padding-top: 10px;
      

      .filter-table{
        width: 100%;
      }

      table {
        width: 100%;
        .row-button {
          button:hover {
            //background-color: rgb(26, 26, 26);
            color: #8fc62a;
          }
        }
        .inactive:hover {
          color: rgba(0, 0, 0, 0.26);
        }
        .icon-service {
          color: #8fc62a;
        }
      }
    }
  }

}