.container {
  mat-card {
    height: 98%;
    width: 98%;
    .toolbar {
      border-bottom: 2px solid #8fc62a;
      padding: 0 10px 10px 0;

      .title {
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
      }
      button:hover {
        background-color: #8fc62a;
        color: white;
      }
    }

    mat-card-content {
      padding: 10px 10px 0 0;

      .chart-row {
        width: 100%;
      }
    }
  }

}
