<mat-toolbar class="mat-elevation-z5" color="primary">
  <mat-toolbar-row>
    <img src="assets/logo/logo.png" alt=""  height="50" width="auto">
    <span class="logo-text">LUi - Gestão de Limpeza Urbana</span>
    <span class="spacer"></span>
  <mat-icon class="icon">person</mat-icon>
  <mat-icon class="icon">nfc</mat-icon>
  <button *ngIf="isAuth" mat-icon-button (click)="logout()">
      <mat-icon class="icon" aria-label="Sair">exit_to_app</mat-icon>
  </button>
  </mat-toolbar-row>
</mat-toolbar>