.app-container {
  width: 100%;

  .footer{
    padding: 15px 15px 15px 15px;
    background-color: black;
    color: whitesmoke;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
  }
  .footerr > div {
    text-align: center;
  }
}
