<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" fxFlexFill>
    <mat-card>
      <div class="toolbar" fxLayout="row" fxLayoutGap="gappx">
        <div  class="title" fxFlex fxFlexAlign="start">
            <span>Serviços</span>
        </div>
        <div fxFlex fxLayoutAlign="end">
            <button mat-icon-button >
                <mat-icon class="icon" aria-label="Editar">edit</mat-icon>
            </button>
        </div>
      </div>
      
      
  
    </mat-card>
  </div>
  