<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" fxFlexFill>
  <mat-card>
    <div class="toolbar" fxLayout="row" fxLayoutGap="gappx">
      <div  class="title" fxFlex fxFlexAlign="start">
          <span>Colaborador</span>
      </div>
      <div fxFlex fxLayoutAlign="end">
          <button class="save" mat-icon-button >
              <mat-icon class="icon" aria-label="Editar">save</mat-icon>
          </button>
          <button class="cancel" mat-icon-button (click)="cancel()">
              <mat-icon class="icon" aria-label="Editar">clear</mat-icon>
          </button>
      </div>
    </div>
    
    <mat-card-content>
      

    </mat-card-content>

  </mat-card>
</div>
