.login-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.25)), url('/assets/images/evora2.jpg');
  //background: linear-gradient(to right, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.20)), url('/assets/images/evora1.jpg');
  background-size: cover;

  .login-box {
    color: darkgreen;
    background-color: rgba(21, 56, 16, 0.5);;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
    width: 30%;
    border-radius: 10px;
    .form-group {
      padding: 10px;

      mat-form-field {
        width: 100%;
      }

      .form-control {
        width: 100%;
      }
      button {
        width: 100%;
        font-weight: bold;
        background: darkgreen;
        color: white;
        height: 50px;
      }
      .error-msg {
        color: red;
        padding-top: 5px;
      }
    }
  }
}
